.footer-container {
  position: relative;
}
.footer-texto {
  margin-top: -40px;
  font-size: 1.2rem;
  padding: 60px 0px;
}
.footer-contato {
  word-break: break-all;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .footer-contato::before {
    visibility: hidden;
  }
  .footer-texto {
    margin-top: -100px;
  }
}
@media (max-width: 700px) {
  .footer-container {
    margin: 40px;
    justify-content: center;
    text-align: center;
  }
  .footer-contato {
    justify-content: center;
    text-align: left;
    margin-bottom: 100px;
  }
}
